header{
    position: relative;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .container{
        z-index: 1;
        position: relative;
    }

    .bg-container{
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
        padding: 35px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.btn-gradient{
    background: linear-gradient(135deg, #ff7676, #f54ba2);
    border: none;
    color: #fff;
    transition: all 0.3;

    &:hover{
        opacity: 0.85;
    }
}

section{
    padding: 80px 0;
}

body{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-height: calc(header - footer);
}
.bg-gradient-purple{
    background: linear-gradient(135deg, navy, rgb(153, 2, 2));
    color: #fff;
}

.bg-gradient-pink{
    background: linear-gradient(345deg, navy, rgb(153, 2, 2));
    color: #fff;
}

.card-hover{
    transition: transform 0.3s box-shadow 0.3s;
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

footer{
    background: linear-gradient(90deg, navy, rgb(153, 2, 2));
    color: #fff;
    a{
        text-decoration: none;
        color: gainsboro
    }

    img{
        width: 20px;
        height: auto;
        margin-right: 5px;
    }
}

.bg-custom-nav{
    background: linear-gradient(90deg, navy, rgb(153, 2, 2));
}

.row-habilidades{
    margin-bottom: -3%;
    justify-content: space-evenly;
}

.container-habilidades{

    .text-center{
        margin-top: -3%;
    }
}