body{
    background-color: rgba(105, 105, 105, 0.123)
}
.conteudo{
    margin-top: 56px;
    min-height: calc(100vh - 144px);
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1px;
    background-color: white;

    .lista{
        text-align: left;
        margin-right: 10px;
    }

    .descricao{
        border-style: solid;
        border-left-width: 1px;
        border-bottom: none;
        border-top: none;
        border-right: none;
    }
    h6{
        text-align: center;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: justify;
        margin-left: 1em;
        margin-right: 1em;
    }
}
a{
    text-decoration: none;
}

.imgProject{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    img{
        width: 50dvw;
        height: auto;
        border: solid;
        border-width: 1px;
    }
}